<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MapEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <MapEditor.Properties.Settings>
            <setting name="Collision" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="EventArea" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="Light" serializeAs="String">
                <value>DarkKhaki</value>
            </setting>
            <setting name="NpcProp" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Nfp" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Prop" serializeAs="String">
                <value>LightSalmon</value>
            </setting>
            <setting name="PVSSegment" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="PVSProp" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Respawn" serializeAs="String">
                <value>Turquoise</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Water" serializeAs="String">
                <value>Blue</value>
            </setting>
        </MapEditor.Properties.Settings>
    </userSettings>
</configuration>
